@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  body {
    background-color: #f8f9ff;
    color: #0b1c30;
    font-family: 'Manrope', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, .font-serif-editorial {
    font-family: 'Newsreader', Georgia, serif;
    letter-spacing: -0.015em;
  }

  /* Glacial tactility subtle selection */
  ::selection {
    background-color: #d3e4fe;
    color: #00507d;
  }
}

/* Custom subtle scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f8f9ff;
}

::-webkit-scrollbar-thumb {
  background: #c0c7d1;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #707881;
}

/* Material symbol utility */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;
}
